@model LuxiCart.EF.Models.SellerInfo
@{
    ViewData["Title"] = "SellerInformation";
    Layout = "~/Areas/AdminSeller/Views/Shared/_DahboardLayout.cshtml";
}


<div class="row w-100 mx-0">
    <div class="col-lg-8 mx-auto">
        <div class="auth-form-light text-left py-5 ">
            <h1 class="font-weight-bold" style="text-align:center;">Seller Information</h1>
            <br />
            <div class="shadow p-3 mb-5 bg-white rounded">
                <form method="post" asp-action="SellerInformation">
                    <div class="row">
                        <div class="col form-group">
                            <label class="font-weight-bold" style="color:darkgoldenrod;"> First name</label>
                            <input asp-for="FirstName" class="form-control form-control-lg" placeholder="First Name">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col form-group">
                            <label class="font-weight-bold" style="color:darkgoldenrod;"> Middle name</label>
                            <input asp-for="MiddleName" class="form-control form-control-lg" placeholder="Middle Name">
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>
                        <div class="col form-group">
                            <label class="font-weight-bold" style="color:darkgoldenrod;"> Last name</label>
                            <input asp-for="LastName" class="form-control form-control-lg" placeholder="Last Name">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <h4 class="font-weight-light" style="text-align:match-parent; color:darkgoldenrod;">    Enter your complete name, as it appears on the passport or ID</h4>
                    <br />
                    <br />
                    <div class="form-control">
                        <label class="font-weight-bold" style="color:darkgoldenrod;"> Country cf citizenship </label>
                        <select class="form-control" name="CountryOfCitizenship">
                            @await Component.InvokeAsync("Country")
                        </select>
                    </div>
                    <div class="form-control">
                        <label class="font-weight-bold" style="color:darkgoldenrod;"> Country of birth </label>
                        <select class="form-control" name="CountryOfBirth">
                            @await Component.InvokeAsync("Country")
                        </select>
                    </div>
                    <div class="form-control">
                        <label class="font-weight-bold" style="color:darkgoldenrod;"> Date of birth </label>
                        <input asp-for="BirthDate" class="form-control form-control-lg" placeholder="Birth Date">
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="mt-3">
                        <input type="submit" value="Next" class="btn btn-block btn-dark" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
